# Python cache
__pycache__/
python/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
env/
venv/
.venv/

# IDE settings
.vscode/
.idea/
*.swp

# Logs
*.log

# Databases
*.db
*.sqlite3

# Environment variables
.env

# Pytest / coverage
.coverage
htmlcov/
.cache/

# Build / packaging
build/
dist/
*.egg-info/

# System files
.DS_Store
Thumbs.db
